<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyj.video.jyjplayer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppApplication"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/BaseActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.folderdetail.FolderDetailActivity"
            android:theme="@style/BaseActivityTheme"
            >

        </activity>

        <activity android:name=".module.fullscreen.EnlargeWatchActivity"
            android:theme="@style/ActivityFullScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape">

        </activity>

        <activity android:name=".module.download.view.AddDownLoadActivity">

        </activity>

        <activity android:name=".module.setting.SettingActivity"
            android:theme="@style/BaseActivityTheme"></activity>

        <activity android:name=".module.search.SearchActivity"
            android:theme="@style/BaseActivityTheme"></activity>

        <activity android:name=".module.setting.feedback.FeedbackActivity"
            android:theme="@style/BaseActivityTheme">

        </activity>

        <activity android:name=".module.setting.language.LanguageActivity"
            android:theme="@style/BaseActivityTheme">

        </activity>
    </application>

</manifest>